<div class="log-form">
    <h2>Login to your account</h2>
    <form>
        Just login, the login isn't working
        <input type="text" title="username" placeholder="username" />
        <input type="password" title="username" placeholder="password" />

            <a href='/dashboard'><button type="submit" class="btn">Login</button></a>



    </form>
</div>
<!--end log form -->